<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    #div{
          height: 50 px;
          width: 70 px;
          border: 10px solid black;
          background:red ;
         
          text: green;
          

    }
    div.hover
    {

      transform: scale(2);

    }


  </style>
  <meta charset="utf-8">
  <title>HOVER</title>
</head>
<body> 

  <p id="div">NEW BEGININGS</p>

</body>
</html>
