<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
 
 <style type="text/css">
     #div
{
  border: 10px solid black;
  background: red;
  width: 500px;
  height: 500px;


}
div:hover
{
  transform: scale(2);

}
 </style>   
 <title>BOX</title>     
 
</head>
<body>
    <div id="div"></div>

</body>
</html>
